black==19.3b0
fernet
flake8
mccabe
mypy==0.770
mypy-extensions==0.4.3
ninja
pg8000
ply
pylint
six
PyQt6==6.0.0
PyQt5-tools==5.14.2.2
PyQt5-stubs==5.14.2
pytest
python-barcode
python-dateutil
pytz
PyYAML
reportlab
setuptools
sqlalchemy==1.4.0b1
sqlalchemy-stubs
sqlparse
sphinx==3.0.1
sphinxcontrib-serializinghtml==1.1.4
sphinx-autodoc-typehints==1.10.3
testresources
pydocstyle
sphinx-rtd-theme
pyroma
defusedxml
bandit
coverage
pylint-json2html
pytest-cov
json-rpc
werkzeug
odfpy
wheel
lxml
flup
xmljson
twine
fpdf2
clipboard
coloredlogs
psycopg2
watchdog>=0.10.2
pyfiglet
pdf2image
xmlsig
lxml
pyOpenSSL
xades
qrcode[pil]