bandit
coverage==5.5
defusedxml
flup
mccabe
mypy==0.780
mypy-extensions==0.4.3
pydocstyle
pylint
pylint-json2html==0.3.0
pyroma
pytest
pytest-cov==2.11.1
setuptools
six
sphinx==4.1.2
sphinxcontrib-serializinghtml==1.1.5
sphinx-autodoc-typehints==1.12.0
sphinx-rtd-theme==0.5.2
sqlalchemy-stubs
testresources
twine
wheel
xmljson