black==19.3b0
clipboard==0.0.4
coloredlogs==14.0
fernet==1.0.1
fpdf2==2.3.2
flake8==3.9.0
flup==1.0.3
keyrings.alt>=3.4.0
lxml
ninja==1.10.0.post1
odfpy
pdf2image==1.14.0
ply
poppler-utils
psycopg2
pyroma==2.6
pyfiglet
pympler
python-barcode
python-daemon
pyOpenSSL
qrcode[pil]
sqlalchemy==1.4.0b1
sqlparse==0.3.1
twine==3.1.1
watchdog>=0.10.2
xades
xmlsig
Pillow==8.2.0
PyYAML==5.3.1
PyQt6==6.0.3
PyQt5-stubs==5.15.2.0