black==19.3b0
fernet
flake8
mccabe
mypy
mypy-extensions
ninja
pg8000
ply
pylint
six
PyQt5==5.14.2
PyQt5-sip==12.7.2
PyQt5-stubs==5.14.2
pytest
python-barcode
python-dateutil
pytz
PyYAML
reportlab
setuptools
sqlalchemy==1.3.16
sqlparse
sphinx==3.0.1
sphinxcontrib-serializinghtml==1.1.4
sphinx-autodoc-typehints==1.10.3
testresources
pydocstyle
sphinx-rtd-theme
pyroma
defusedxml
bandit
coverage
pylint-json2html
pytest-cov
json-rpc
werkzeug
odfpy
wheel
lxml
flup
xmljson
twine
fpdf2
pymssql
clipboard
coloredlogs
